/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
  name = '@git_repo_name@'
  description = '@ap_pipeline_description@'
  homePage = '@git_url@'
  author = 'Institut Curie - Bioinformatics core facility'
  version = '@git_commit@'
  mainScript = 'main.nf'
  nextflowVersion = '>=22.10.6'
}


/**********
 * Params *
 **********/

params {
  email = false 
  help = false
  name = false

  // Input data
  fastaPath =  null

  // Apptainer command for alphafold
  apptainerRun = "apptainer run"

  // GPU usage
  useGpu = false

  // parameters for alphaFold
  alphaFoldOptions = "--max_template_date=2024-01-01 --random_seed=654321"

  // parameters for colabFold
  colabFoldOptions = "--random-seed 654321 --model-type auto,alphafold2,alphafold2_ptm,alphafold2_multimer_v1,alphafold2_multimer_v2,alphafold2_multimer_v3,deepfold_v1"

  // parameters for massiveFold
  massiveFoldOptions = ""

  // options
  launchAlphaFold = true
  launchMassiveFold = false
  launchColabFold = false

  // Output directories
  outDir = "$launchDir/results"
  summaryDir = "${params.outDir}/summary"
}

/************************
 * Configs and profiles *
 ************************/

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Annotation paths
includeConfig 'conf/genomes.config'

// Profiles
profiles {
  test{
    includeConfig 'conf/test.config'
  }
  apptainer {
    includeConfig 'conf/apptainer.config'
  }
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker {
    includeConfig 'conf/docker.config'
  }
  podman {
    includeConfig 'conf/podman.config'
  }
  singularity {
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
}

