/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
  name = 'proteinfold'
  description = ''
  homePage = 'https://gitlab.curie.fr/data-analysis/proteinfold.git'
  author = 'Institut Curie - Bioinformatics core facility'
  version = 'ba5f1ed9e336496e4720850d7a3632811463b670/devel'
  mainScript = 'main.nf'
  nextflowVersion = '>=22.10.6'
}


/**********
 * Params *
 **********/

params {
  email = false 
  help = false
  name = false

  // Input data
  fastaPath =  null
  proteinLigandFile = null

  // GPU usage
  useGpu = false

  // parameters for afMassive
  afMassiveOptions = "--dropout --dropout_structure_module"
  multimerVersions = "v1,v2,v3"
  numberOfModels = 5
  predictionsPerModel = 5

  // parameters for alphaFold
  alphaFoldOptions = "--max_template_date=2024-01-01 --random_seed=654321"

  // parameters for alphaFold3
  alphaFold3Options = null

  // parameters for colabFold
  colabFoldOptions = "--random-seed 654321 --model-type alphafold2 --amber --use-gpu-relax"

  // parameters for diffDock
  diffDockArgsYamlFile = "$projectDir/assets/diffdock_default_inference_args.yaml"

  // parameters for dynamicBind
  dynamicBindOptions = "--savings_per_complex 40 --inference_steps 20 --movie --seed 654321"

  // options to select which tool to use to predict protein 3D structure
  launchAlphaFold = false
  launchAlphaFold3 = false
  launchAfMassive = false
  launchColabFold = false
  launchNanoBert = false
  launchOpenFold = false

  // options to generate reports from existing results
  htmlProteinStruct = false
  htmlMetricsMultimer = false
 
  // options to select which tool to use for molecular docking
  launchAlphaFill = false
  launchDiffDock = false
  launchDynamicBind = false

  // option to perform only msas
  onlyMsas = false

  // option to do prediction from existing msas
  fromMsas = null

  // option to use existing predicted structures
  fromPredictions = null

  // help for the different tools
  alphaFillHelp = false
  alphaFold3Help = false
  alphaFoldHelp = false
  colabFoldHelp = false
  dynamicBindHelp = false
  afMassiveHelp = false

  // Output directories
  outDir = "$launchDir/results"
  summaryDir = "${params.outDir}/summary"
}

/************************
 * Configs and profiles *
 ************************/

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Annotation paths
includeConfig 'conf/genomes.config'

// Profiles
profiles {
  test{
    includeConfig 'conf/test.config'
  }
  apptainer {
    includeConfig ({
      def apptainerPath = "${params.geniac.apptainerImagePath}"
      def file = new java.io.File(apptainerPath)
      
      if (file.exists()) {
          def directory = new java.io.File(apptainerPath)
          def contents = []
          directory.eachFileRecurse(groovy.io.FileType.FILES) { fileItem -> 
              contents << fileItem 
          }
          if (apptainerPath?.trim() && contents != null && contents.size() > 0) {
              return 'conf/apptainer.config'
          }
      }
      
      System.err.println("   ### ERROR ###    The option '-profile apptainer' requires the apptainer images to be installed on your system. See `--apptainerImagePath` for advanced usage.")
      java.lang.System.exit(-1)
      return '/dev/null'
      }())
  }
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker {
    includeConfig 'conf/docker.config'
  }
  podman {
    includeConfig 'conf/podman.config'
  }
  singularity {
    includeConfig ({
      def singularityPath = "${params.geniac.singularityImagePath}"
      def file = new java.io.File(singularityPath)
      
      if (file.exists()) {
          def directory = new java.io.File(singularityPath)
          def contents = []
          directory.eachFileRecurse(groovy.io.FileType.FILES) { fileItem -> 
              contents << fileItem 
          }
          if (singularityPath?.trim() && contents != null && contents.size() > 0) {
              return 'conf/singularity.config'
          }
      }
      
      System.err.println("   ### ERROR ###    The option '-profile singularity' requires the singularity images to be installed on your system. See `--singularityImagePath` for advanced usage.")
      java.lang.System.exit(-1)
      return '/dev/null'
      }())
  }
  path {
    includeConfig ({
      def pathPath = "${params.geniac.singularityImagePath}"
      def file = new java.io.File(pathPath)
      
      if (file.exists()) {
          def directory = new java.io.File(pathPath)
          def contents = []
          directory.eachFileRecurse(groovy.io.FileType.FILES) { fileItem -> 
              contents << fileItem 
          }
          if (pathPath?.trim() && contents != null && contents.size() > 0) {
              return 'conf/path.config'
          }
      }
      
      System.err.println("   ### ERROR ###   The option '-profile path' requires the configuration of each tool path. See `--globalPath` for advanced usage.")
      java.lang.System.exit(-1)
      return '/dev/null'
      }())
  }
  multipath {
    includeConfig ({
      def multipathPath = "${params.geniac.singularityImagePath}"
      def file = new java.io.File(multipathPath)
      
      if (file.exists()) {
          def directory = new java.io.File(multipathPath)
          def contents = []
          directory.eachFileRecurse(groovy.io.FileType.FILES) { fileItem -> 
              contents << fileItem 
          }
          if (multipathPath?.trim() && contents != null && contents.size() > 0) {
              return 'conf/multipath.config'
          }
      }
      
      System.err.println("   ### ERROR ###   The option '-profile multipath' requires the configuration of each tool path. See `--globalPath` for advanced usage.")
      java.lang.System.exit(-1)
      return '/dev/null'
      }())
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
}

