/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
  name = '@git_repo_name@'
  description = '@ap_pipeline_description@'
  homePage = '@git_url@'
  author = 'Institut Curie - Bioinformatics core facility'
  version = '@git_commit@'
  mainScript = 'main.nf'
  nextflowVersion = '>=22.10.6'
}


/**********
 * Params *
 **********/

params {
  email = false 
  help = false
  name = false
  samplePlan = false
  design = false

  // Analysis parameters
  
  // Annotations and input data
  alphaFoldDatabase = "/data/kdi_prod/.kdi/project_workspace_0/1430/acl/01.00/alphafold"
  tmpDir = "/data/tmp/phupe/alphafold_tmpdir"
  fastaPath =  null

  // Output directories
  outDir = "$launchDir/results"
  summaryDir = "${params.outDir}/summary"
}

/************************
 * Configs and profiles *
 ************************/

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Annotation paths
includeConfig 'conf/genomes.config'

// Profiles
profiles {
  test{
    includeConfig 'conf/test.config'
  }
  apptainer {
    includeConfig 'conf/apptainer.config'
  }
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker {
    includeConfig 'conf/docker.config'
  }
  podman {
    includeConfig 'conf/podman.config'
  }
  singularity {
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
}

