params {
  genomeAnnotationPath = params.genomeAnnotationPath ?: "${projectDir}/../annotations"

  geniac {

    // Installation paths
    multiPath = params.globalPath ?: "${projectDir}/../multipath"
    path = params.globalPath ?: "${projectDir}/../path/bin"
    singularityImagePath = params.singularityImagePath ?: "${projectDir}/../containers/singularity"
    apptainerImagePath = params.apptainerImagePath ?: "${projectDir}/../containers/singularity"

    tools {
      // Add your tools available in conda here, for example:
      alphaFoldOptions = "${projectDir}/recipes/conda/alphaFoldOptions.yml"
      massiveFoldPlots = "${projectDir}/recipes/conda/massiveFoldPlots.yml"
      multiqc = "conda-forge::lzstring=1.0.4=py_1001 conda-forge::spectra=0.0.11=py_1 conda-forge::matplotlib-base=3.8.3=py311h54ef318_0 bioconda::multiqc=1.21=pyhdfd78af_0"
    }

    // options for singularity and docker containers
    containers {
      singularityRunOptions = ""
      apptainerRunOptions = ""
      dockerRunOptions = ""
      podmanRunOptions = ""

     }

  }
}
