params {
  genomeAnnotationPath = params.genomeAnnotationPath ?: "${projectDir}/../annotations"

  geniac {

    // Installation paths
    multiPath = params.globalPath ?: "${projectDir}/../multipath"
    path = params.globalPath ?: "${projectDir}/../path/bin"
    singularityImagePath = params.singularityImagePath ?: "${projectDir}/../containers/singularity"
    apptainerImagePath = params.apptainerImagePath ?: "${projectDir}/../containers/singularity"

    tools {
      // Add your tools available in conda here, for example:
      multiqc = "conda-forge::lzstring=1.0.4=py_1001 conda-forge::spectra=0.0.11=py_1 conda-forge::matplotlib-base=3.8.3=py311h54ef318_0 bioconda::multiqc=1.21=pyhdfd78af_0"
      nanoBert = "pytorch::pytorch=2.2.2=py3.12_cpu_0 pytorch::torchvision=0.17.2=py312_cpu pytorch::torchaudio=2.2.2=py312_cpu pytorch::cpuonly=2.0=0 conda-forge::python=3.12.2=hab00c5b_0_cpython conda-forge::absl-py=2.1.0=pyhd8ed1ab_0 conda-forge::transformers=4.39.3=pyhd8ed1ab_0 conda-forge::numpy=1.26.4=py312heda63a1_0"
      pymol = "conda-forge::pymol-open-source=3.0.0=py312h3c651bb_8 conda-forge::imagemagick=7.1.1_33=pl5321h0df52c9_0"
      python = "${projectDir}/recipes/conda/python.yml"
    }

    // options for singularity and docker containers
    containers {
      singularityRunOptions = ""
      apptainerRunOptions = ""
      dockerRunOptions = ""
      podmanRunOptions = ""

      yum {
        // example of dependency:
        nanoBert = 'libtiff'
        pymol = 'libglvnd-glx'
      }

     }

  }
}
