/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomeAnnotationPath / --genomeAnnotationPath
 */

params {

  genomes {

    alphafold {
      database = "${params.genomeAnnotationPath}/proteinfold/alphafold/2023-12"
      flags {
        uniref90_database_path = "${params.genomeAnnotationPath}/proteinfold/alphafold/2023-12/uniref90/uniref90.fasta"
        mgnify_database_path = "${params.genomeAnnotationPath}/proteinfold/alphafold/2023-12/mgnify/mgy_clusters_2022_05.fa"
        template_mmcif_dir = "${params.genomeAnnotationPath}/proteinfold/alphafold/2023-12/pdb_mmcif/mmcif_files"
        obsolete_pdbs_path = "${params.genomeAnnotationPath}/proteinfold/alphafold/2023-12/pdb_mmcif/obsolete.dat"
        pdb70_database_path = "${params.genomeAnnotationPath}/proteinfold/alphafold/2023-12/pdb70/pdb70"
        uniref30_database_path = "${params.genomeAnnotationPath}/proteinfold/alphafold/2023-12/uniref30/UniRef30_2021_03"
        bfd_database_path = "${params.genomeAnnotationPath}/proteinfold/alphafold/2023-12/bfd/bfd_metaclust_clu_complete_id30_c90_final_seq.sorted_opt"
      }
    }

    colabfold {
      database = "${params.genomeAnnotationPath}/proteinfold/colabfold/2024-01"
    }

  }
}

