/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomeAnnotationPath / --genomeAnnotationPath
 */

params {

  genomes {

    alphafold {
      database = "${params.genomeAnnotationPath}/proteinfold/alphafold/2023-12"
    }

    colabfold {
      database = "${params.genomeAnnotationPath}/proteinfold/colabfold/2024-01"
    }

    dynamicbind {
      database = "${params.genomeAnnotationPath}/proteinfold/dynamicbind/v1.0"
    }

    openfold {
      database = "${params.genomeAnnotationPath}/proteinfold/alphafold/2023-12"
    }

    afmassive {
      database = "${params.genomeAnnotationPath}/proteinfold/alphafold/2023-12"
    }

  }
}

