/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

params {

  // RNA-seq test data from Gendrel et al. (2012)
  // Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run on Travis
  maxCpus = 4
  maxMemory = 32.GB
  maxTime = 1.h

}
