/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

params {

  alphaFoldOptions = "--max_template_date=2024-01-01 --db_preset=reduced_dbs --random_seed=123456"
  fastaPath = "$projectDir/test/data/monomer1"
  launchAlphaFold = true
  launchColabFold = false
  launchMassiveFold = false
  useGpu = true

}
